@model  IoT.Models.TwiceTableModel
    
@{
    ViewBag.Title = "Propane Detector";
}

<div class="container">
    <button class="refresh-button btn" type="submit" onClick="refreshPage()">
        <i class="fas fa-sync"> Refresh</i>
    </button>

    @*<div class="Limit">


            <label  title="Limita de gaz"> Limită: </label>
            <p id="limita" ></p>


        </div>*@
    @*<button type="button" class="btn refresh-button" data-toggle="collapse" data-target="#limit" style="float:right;">Limit</button>

        <div id="limit" class="collapse">
            @foreach (var item in Model.Limits)
            {
            <div id="limite" style=" margin-top: 30px; margin-right: 36px; float:right">
                @item.LIMIT
            </div>

            }
        </div>*@

    @*<button id="btn" type="button" class="btn refresh-button" style="float:right">Limit</button>




            @foreach (var item in Model.Limits)
            {
        <div style=" margin-top: 30px; margin-right: 36px; float:right">
            <p id="limit"></p>
            <p id="limitt"> @item.LIMIT</p>
        </div>

            }*@
   
    <div class="pull-right" style="font-size: 18px">
        <label title="Limita de gaz"> Limită: </label>
        <p id="limit" style="text-align:center; color: forestgreen; font-weight: bold; font-style: italic; border: 1px solid #d46608;">@Model.LIMIT</p>
    </div>


</div>

<br />

<div id="faq" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div style="cursor:pointer;" class="panel-heading" role="tab" id="questionOne" data-toggle="collapse" data-parent="#faq" href="#answerOne" aria-expanded="false" aria-controls="answerOne">
            <h5 style="text-align:center" class="panel-title">
                <a>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#db1414"></i>
                    Situații de alarmă
                </a>
            </h5>
        </div>
        <div id="answerOne" class="panel-collapse in" role="tabpanel" aria-labelledby="questionOne">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;">
                                Valoarea Sensorului
                            </th>
                            <th style="text-align: center;">
                                Înregistrări
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Alerts)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.GasValue)
                                </td>
                                <td style="text-align: center;">
                                    @item.Registered.ToString("HH:mm MM/dd/yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div style="cursor:pointer;" class="panel-heading" role="tab" id="questionTwo" data-toggle="collapse" data-parent="#faq" href="#answerTwo" aria-expanded="false" aria-controls="answerTwo">
            <h5 style="text-align:center" class="panel-title">
                <a>
                    <i class="fa fa-table" aria-hidden="true"></i>
                    Măsurări de gaze
                </a>
            </h5>
        </div>
        <div id="answerTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;">
                                Valoarea Sensorului
                            </th>
                            <th style="text-align: center;">
                                Înregistrări
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Measures)
                        {
                            <tr>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.GasValue)
                                </td>
                                <td style="text-align: center;">
                                    @item.Registered.ToString("HH:mm MM/dd/yyyy")

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function refreshPage() {
        window.location.reload();
    }
</script>

<script>
    $(document).ready(function () {
        
        setInterval(GasLimit, 40000);
        
        function GasLimit() {
            
            $.post("/Gas/GetGasLimit", {}, function (data) {
                
                 $("#limit").html(data);
                
                console.log(data);
            });
            
        }
        
    });
    
</script>
